#weather-widget {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  width: 800px;
  height: 410px;
  max-height: 410px; /* Добавлено */
  max-width: 800px;
  overflow: auto;
  position: absolute; /* Добавлено */
  top: 30%; /* Добавлено */
  left: 50%; /* Добавлено */
  transform: translate(-50%, -50%); /* Добавлено */
}

#city-input {
  width: 200px;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#weather-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  overflow: auto;
}

#current-btn, #tomorrow-btn, #three-days-btn, #search-btn {
  font-family: 'Comic Sans MS', cursive;
  border-radius: 10px;
}

.weather-item {
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 25px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 0 1 auto;
  max-width: 300px;
  min-height: 220px;
  max-height: 220px;
  display: flex; 
  flex-direction: column; 
  justify-content: space-around; 
  align-items: center; 
  word-break: break-all;
  overflow-wrap: break-word;
}

#location {
  font-size: 24px;
  font-weight: bold;
}

#temperature {
  font-size: 36px;
  font-weight: bold;
  margin: 10px 0;
}

#description {
  font-size: 18px;
  margin-bottom: 10px;
}

#weather-details {
  margin-top: 10px;
}

#forecast-options {
  margin-top: 30px;
}

/* Медиа-запрос для мобильных устройств */
@media (max-width: 767px) {
  #weather-widget {
    width: 80%;
    max-height: none;
    max-width: none;
    padding: 10px;
    border-radius: 20px;
    font-family: "Times New Roman", serif; /* Изменение шрифта для всего виджета */
    position: absolute;
    top: auto;
    left: 8%;
    transform: none;
  }

  #weather-info {
    height: auto;
    flex-direction: column;
  }

  .weather-item {
    max-width: 100%;
    margin: 10px 0;
  }

  #current-btn, #tomorrow-btn, #three-days-btn, #search-btn {
    font-family: 'Times New Roman', serif; /* Изменение шрифта для кнопок */
  }
  #city-input {
    font-family: 'Times New Roman', serif;
  }
}
